// COMMON
/* colors сustom properties */
$logo-color: #2196f3;
$nav-text-color: #212121;
$contacts-text-color: #757575;
$adress-location-text-color: #ffffff;
$address-mail-text-color: rgba(255, 255, 255, 0.6);
$address-tel-text-color: rgba(255, 255, 255, 0.6);
$bottom-background-color: #2f303a;
$hover-focus-color: #2196f3;
$current-color: #2196f3;
/* text custom properties */
$logo-font-size: 26px;
// MAIN.CSS
$main-headers-color: #212121;
$main-text-color: #757575;
$first-background-color: #2f303a;
$second-background-color: #f5f4fa;
$clients-border-color: #afb1b8;
$clients-icon-color: #afb1b8;
$placeholder-color: rgba(117, 117, 117, 0.5);
// PORTFOLIO.CSS
$button-text-color: #212112;
$button-background-color: #f5f4fa;
$button-text-hover-focus: #ffffff;
$button-background-hover-focus: #2196f3;
$main-headers-color: #212121;
$main-text-color: #757575;
